<div class="card-body">

    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{text_content}}</p>

</div>

<div class="comments">
    Comments:
    {{#each this}}
    <section>
        <div>
            {{user.username}} on {{format_date created_at}}
        </div>
        <div>
            {{comment_text}}
        </div>
        <div>
            <button type="submit" class="btn"><a class="link" href="/dashboard/comments/{{comment.id}}">Edit Comment</a></button>
        </div>
    </section>

    {{/each}}
</div>