<div class="card-body">
    {{#each this}}
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{text_content}}</p>
    
</div>

<div class="comments">
    Comments:
    
    <section>
        <div>
            {{user.username}} on {{created_at}}
        </div>
        <div>
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>